<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']" style="text-decoration: none;">
              
              <h1 class="d-flex align-items-center justify-content-center">
                <img src="./assets/images/logos/logo-2.svg" class="align-middle m-2" alt="logo"  [height]="50"/>
                <span style="color: #000;font-family: Plus Jakarta Sans;">Cointribe</span>
              </h1>
            </a>
          </div>

          <div class="row m-t-24 custom-row">
            <div class="col-12">
              <button mat-stroked-button class="w-100">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/svgs/google-icon.svg" alt="google" width="16" class="m-r-8" />
                  {{ 'register.google' | translate }}
                </div>
              </button>
            </div>
           
          </div>

          <div class="or-border m-t-20">{{ 'register.or_with' | translate }}</div>

          <form class="m-t-10">
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'register.name' | translate }}</mat-label>
              <input matInput />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label>{{ 'register.email' | translate }}</mat-label>
              <input matInput type="email" />
            </mat-form-field>
            <!-- password -->
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'register.password' | translate }}</mat-label>
              <input matInput type="password" />
            </mat-form-field>

            <a [routerLink]="['/']" mat-flat-button color="primary" class="w-100">
              {{ 'register.signup' | translate }}
            </a>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24">{{ 'register.has_an_account' | translate }}

            <a [routerLink]="['/auth/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              {{ 'register.signin' | translate }}
            </a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>