<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']" style="text-decoration: none;">
              
              <h1 class="d-flex align-items-center justify-content-center">
                <img src="./assets/images/logos/logo.svg" class="align-middle m-2" alt="logo"  [height]="50"/>
                <span style="color: #000;font-family: Plus Jakarta Sans;">Cointribe</span>
              </h1>
            </a>
          </div>

          

          <div class="or-border m-t-20">{{ 'register.or_with' | translate }}</div>

          <form class="m-t-10" [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field appearance="outline" class="w-100 m-b-12" color="primary">
              <mat-label >{{ 'register.name' | translate }}</mat-label>
              <input matInput  formControlName="name"/>
              <mat-error *ngIf="form.get('name')?.hasError('required')"> Campo requerido </mat-error>
              <mat-error *ngIf="form.get('name')?.hasError('minlength')"> Mínimo 6 caracteres </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 m-b-12" color="primary">
              <mat-label>{{ 'register.email' | translate }}</mat-label>
              <input matInput type="text" formControlName="email"/>
              <mat-error *ngIf="form.get('email')?.hasError('required')"> Campo requerido </mat-error>
              <mat-error *ngIf="form.get('email')?.hasError('minlength')"> Mínimo 6 caracteres </mat-error>
              <mat-error *ngIf="form.get('email')?.hasError('email')"> Correo inválido </mat-error>
            </mat-form-field>
            <!-- password -->
            <mat-form-field appearance="outline" class="w-100 m-b-12" color="primary">
              <mat-label >{{ 'register.password' | translate }}</mat-label>
              <input matInput type="password" formControlName="password"/>
              <mat-error *ngIf="form.get('password')?.hasError('required')"> Campo requerido </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 m-b-12" color="primary">
              <mat-label >{{ 'register.confirm-password' | translate }}</mat-label>
              <input matInput type="password" formControlName="confirmPassword"/>
              <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')"> Campo requerido </mat-error>
            </mat-form-field>

            <button type="submit" mat-flat-button color="primary" class="w-100">
              {{ 'register.signup' | translate }}
            </button>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24">{{ 'register.has_an_account' | translate }}

            <a [routerLink]="['/auth/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              {{ 'register.signin' | translate }}
            </a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>