.nsm7Bb-HzV7m-LgbsSe, .nsm7Bb-HzV7m-LgbsSe-MJoBVe{
    width: 100% !important;
}
.custom-google-button {
    background-color: #4285f4;
    color: white;
    border-radius: 10px;
    /* Otros estilos personalizados */
  }
