.table {
  width: 100%;
}
.table td {
  text-wrap: wrap !important;
}
.table-content {
  
  font-size: 14px;
  line-height: 1.2;
}
.table tr {
  padding: 30px;
}
.transaction-content {
  color: gray;
  font-size: 12;
  margin-bottom: 10px;
}

.arrow_circle_down {
color: green;
}
.arrow_circle_up{
  color: red;
}
.sync_alt {
color: black;
}