<div class="row">
  <div class="col-md-4">
    <a routerLink="/admin/dice" style="text-decoration: none;">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Dice Fall Game</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <fa-icon [icon]="faDice" class="dice-icon m-r-30"></fa-icon>
        <br><br>
      </mat-card>
    </a>

  </div>
</div>