<div class="row">
  <div class="col-md-4">
    <a routerLink="/admin/dice" class="game-btn">
      <mat-card class="game-card" appearance="raised">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <div class="w-100 game-card-title">{{ 'games.dice-game.title' | translate }}</div>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" class="lottie-icon"/>
      </mat-card>
    </a>

  </div>
</div>