<div class="row">
    <div class="col-4">
        <a routerLink="/admin/dice" style="text-decoration: none;">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Dice Game</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="/assets/images/dice.png" alt="Photo of a Shiba Inu">
              </mat-card>
        </a>
       
    </div>
</div>