<div class="row">
  <div class="col-lg-12">
    <h2>Depósitos</h2>
    <mat-card>
      <mat-card-content>
        <form class="m-t-10" [formGroup]="form">
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label>{{ 'deposit.currency' | translate }}</mat-label>
            <input matInput formControlName="currency" />

            <div matPrefix mat-icon-button aria-label="Clear">
              <img src="/assets/images/Tether.png" alt="" [height]="30" class="m-x-10">
            </div>

          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label>{{ 'deposit.network' | translate }}</mat-label>
            <div matPrefix mat-icon-button aria-label="Clear">
              <img src="/assets/images/bsc.png" alt="" [height]="30" class="m-x-10">
            </div>
            <input matInput formControlName="network" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label>{{ 'deposit.wallet' | translate }}</mat-label>
            <div class="d-flex align-items-center">
              <qrcode [qrdata]="userData ? userData!.wallet!.address : ''" [width]="100" [errorCorrectionLevel]="'M'">
              </qrcode>
              <textarea matInput formControlName="wallet" readonly></textarea>
              <button matSuffix mat-icon-button aria-label="Clear" (click)="copy()">
                <mat-icon aria-hidden="false" [fontIcon]="copyIcon" style="margin-right: 10px;"></mat-icon>
              </button>
            </div>
            <mat-hint>Depósito mínimo: <strong>Más de 0.01 USDT</strong></mat-hint>
          </mat-form-field>

          <!-- <a [routerLink]="['/']" mat-flat-button color="primary" class="w-100">
                {{ 'login.signin' | translate }}
              </a> -->
          <!-- input -->
        </form>

      </mat-card-content>
    </mat-card>
  </div>
</div>
<h3>Más recientes</h3>
<app-transaction [dataSource]="transactions"/>