<h2 mat-dialog-title class="text-center">¡Pon a prueba tu suerte con los dados!</h2>
<mat-dialog-content>

    <h4>Objetivo:</h4>
    <div>Adivina la combinación que saldrá al lanzar los tres dados y gana grandes premios.</div>

    <strong class="m-t-10">Combinaciones ganadoras:</strong>

    <div class="m-10">
        <strong>Ronda:</strong> Un par de números iguales (ej: 1, 1, 4). Ganas el doble de tu apuesta.
    </div>
    <div class="m-10">
        <strong>Patrulla:</strong> Tres números consecutivos en cualquier orden (ej: 2, 3, 4 o 3, 4, 2). Ganas el triple
        de tu apuesta.
    </div>
    <div class="m-10">
        <strong>Vigía:</strong> Dos pares y un número que los une (ej: 1, 1, 2 o 2, 2, 1). Ganas el cuádruple de tu
        apuesta.
    </div>
    <div class="m-10">
        <strong>Tribilín:</strong> Tres números iguales (ej: 3, 3, 3). Ganas el sextuple de tu apuesta.
    </div>
    <div class="m-10">
        <strong>Registro:</strong> Los números 1, 5 y 6 en cualquier orden (ej: 5, 1, 6). Ganas un premio especial.
    </div>
    <div class="text-center">
        <strong>¡Aposta y diviértete!</strong>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button cdkFocusInitial (click)="onNoClick()">Ok</button>
</mat-dialog-actions>