/*dice-roll.component.css*/

.dice-roll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20 20;
    /* opacity: 0.2; */
    /* min-height: 80vh; */
}

.heading {
    font-size: 2.5rem;
    color: #28a745;
    margin-bottom: 10px;
}

.subheading {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.dice-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.dice-icon {
    font-size: 100px;
    transition: transform 1.5s ease-in-out;
}

.rolling {
    animation: spin 1.5s ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(720deg) rotateY(720deg);
    }
}

.roll-button {
    padding: 10px 20px;
    font-size: 16px;
    /* background-color: #007bff; */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 20px;
    opacity: 0.8;
}

.roll-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.roll-button:hover:not(:disabled) {
    /* background-color: #0056b3; */
    transform: scale(1.05);
}

.result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}
.won {
    color: #28a745;
}
.lost {
    color: red;
}
.btn-buy {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}
.btn-clear {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 80px;
    margin-right: 28px;
}

.btn-set {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 120px;
    margin-right: 28px;
}
.x-bet {
    color: #39c058;
    font-weight: bold;
}
.remove-btn {
    width: 24px;
    height: 24px;
    border: 1px solid red;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
  }
  
  .remove-btn-icon {
    font-size: 14px;
    color: red;
  }
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Envía el div al fondo */
    /* Agrega aquí el estilo para el fondo (color, imagen, etc.) */
    /* background-color: rgba(255, 255, 255, 0.1);  */
 }
 .lottie-icon {
    /* background-color: rgba(0, 0, 0, 1); */
    z-index: -2;
 }
 .container-dice {
    width: 2000px;
    height: 2000px;
    position: fixed;
    top: -200px;
    left: 530px;
    z-index: -1;
 }
/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .container-dice {
        width: 1400px;
        height: 1400px;
        top: -50px;
        left: -330px;
    }
}

/* Para pantallas medianas (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .container-dice {
        width: 2000px;
        height: 2000px;
        top: -200px;
        left: -130px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .container-dice {
        width: 2000px;
        height: 2000px;
        top: -200px;
        left: -130px;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    .container-dice {
        width: 2000px;
        height: 2000px;
        top: -200px;
        left: -330px;
    }
  }
  @media (min-width: 1201px) and (max-width: 1400px)  {
    .container-dice {
        width: 1600px;
        height: 1600px;
        top: -100px;
        left: 430px;
    }
  }
.bg-bet{
    background-color: #f8f7f7;
    border-radius: 10px;
    opacity: 0.9;
}
.btn-bet {
    opacity: 1;
    border: 1px solid #131667;
    color: #131667;
}