<div>
  <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" class="container-dice"/>
  <div class="row">
    <div class="col-8">
      <div class="f-s-16 f-w-700">{{ 'games.dice.balance' | translate }}</div>
      <div class="f-s-24 f-w-800">{{ balance.getValue() }} {{ userData?.wallet?.coin }}</div>
    </div>
    <div class="col-4" >
      <div class="d-flex justify-content-end">
        <button mat-icon-button (click)="openDialog()" color="primary">
          <mat-icon fontIcon="error" />
        </button>
      </div>
   </div>
  </div>
  <div class="dice-roll-container">
    <h2>{{ 'games.dice.title' | translate }}</h2>
    <div class="bg-bet">
      <p class="m-l-10 m-r-10">
        {{ 'games.dice.sub-title' | translate }}
      </p>
    </div>
    <div class="dice-wrapper row">
      <fa-icon [icon]="currentFace[0]" class="dice-icon col-4"></fa-icon>
      <fa-icon [icon]="currentFace[1]" class="dice-icon col-4"></fa-icon>
      <fa-icon [icon]="currentFace[2]" class="dice-icon col-4"></fa-icon>
    </div>
  
    <button (click)="rollDice()" [disabled]="isEnableToRoll" class="roll-button primary" mat-flat-button color="primary">
      {{ 'games.dice.roll' | translate }}
    </button>
  
    <div *ngIf="result" class="result" [ngClass]="{ won: result == 'win', lost: result == 'lose' }">
      {{ 'games.dice.result.'+result | translate }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>{{ 'games.dice.options.title' | translate }}</h3>
    </div>
    <div class="col-md-12 m-b-20 bg-bet">
      <div class="row text-center">
        <div class="col-md-3 col-6 m-t-10">
          <button mat-raised-button color="default" [matBadge]="bets.get('pair')" [matBadgeHidden]="bets.get('pair') == 0"
            (click)="enable(1, 'pair')" class="w-100 btn-bet">
            <fa-icon [icon]="faDiceSix" class="m-2"></fa-icon>
            <fa-icon [icon]="faDiceSix" class="m-2"></fa-icon>
            <fa-icon [icon]="faQuestion" class="m-2"></fa-icon>
            {{ isMobile ? '' : 'games.dice.options.round' | translate }} <span class="x-bet">X{{ winPrice.get('pair')
              }}</span>
          </button>
          <button mat-icon-button *ngIf="bets.get('pair')! > 0" (click)="decrease('pair')" class="remove-btn">
            <mat-icon fontIcon="remove" class="remove-btn-icon" />
          </button>
        </div>
        <div class="col-md-3 col-6 m-t-10">
          <button mat-raised-button color="default" [matBadge]="bets.get('patrol')"
            [matBadgeHidden]="bets.get('patrol') == 0" (click)="enable(1, 'patrol')" class="w-100 btn-bet">
            <fa-icon [icon]="faDiceOne" class="m-2"></fa-icon>
            <fa-icon [icon]="faDiceTwo" class="m-2"></fa-icon>
            <fa-icon [icon]="faDiceThree" class="m-2"></fa-icon>
            {{ isMobile ? '' : 'games.dice.options.patrol' | translate }} <span class="x-bet">X{{ winPrice.get('patrol')
              }}</span>
          </button>
          <button mat-icon-button *ngIf="bets.get('patrol')! > 0" (click)="decrease('patrol')" class="remove-btn">
            <mat-icon fontIcon="remove" class="remove-btn-icon" />
          </button>
        </div>
        <div class="col-md-3 col-6 m-t-10">
          <button mat-raised-button color="default" [matBadge]="bets.get('lookOut')"
            [matBadgeHidden]="bets.get('lookOut') == 0" (click)="enable(1, 'lookOut')" class="w-100 btn-bet">
            <fa-icon [icon]="faDiceOne" class="m-2"></fa-icon>
            <fa-icon [icon]="faDiceOne" class="m-2"></fa-icon>
            <fa-icon [icon]="faDiceTwo" class="m-2"></fa-icon>
            {{ isMobile ? '' : 'games.dice.options.look-out' | translate }} <span class="x-bet">X{{
              winPrice.get('lookOut') }}</span>
          </button>
          <button mat-icon-button *ngIf="bets.get('lookOut')! > 0" (click)="decrease('lookOut')" class="remove-btn">
            <mat-icon fontIcon="remove" class="remove-btn-icon" />
          </button>
        </div>
        <div class="col-md-3 col-6 m-t-10">
          <button mat-raised-button color="default" [matBadge]="bets.get('tribilin')"
            [matBadgeHidden]="bets.get('tribilin') == 0" (click)="enable(1, 'tribilin')" class="w-100 btn-bet">
            <fa-icon [icon]="faDiceSix" class="m-2"></fa-icon>
            <fa-icon [icon]="faDiceSix" class="m-2"></fa-icon>
            <fa-icon [icon]="faDiceSix" class="m-2"></fa-icon>
            {{ isMobile ? '' : 'games.dice.options.tribilin' | translate }} <span class="x-bet">X{{
              winPrice.get('tribilin') }}</span>
          </button>
          <button mat-icon-button *ngIf="bets.get('tribilin')! > 0" (click)="decrease('tribilin')" class="remove-btn">
            <mat-icon fontIcon="remove" class="remove-btn-icon" />
          </button>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-3 col-md-4"></div>
        <div class="col-6 col-md-4 m-b-10">
          <button mat-raised-button color="default" [matBadge]="bets.get('record')"
            [matBadgeHidden]="bets.get('record') == 0" (click)="enable(1, 'record')" class="w-100 btn-bet">
            <fa-icon [icon]="faDiceOne" class="m-2"></fa-icon>
            <fa-icon [icon]="faDiceFive" class="m-2"></fa-icon>
            <fa-icon [icon]="faDiceSix" class="m-2"></fa-icon>
            {{ isMobile ? '' : 'games.dice.options.record' | translate }} <span class="x-bet">X{{ winPrice.get('record')
              }}</span>
          </button>
          <div class="text-center">
            <button mat-icon-button *ngIf="bets.get('record')! > 0" (click)="decrease('record')" class="remove-btn">
              <mat-icon fontIcon="remove" class="remove-btn-icon" />
            </button>
          </div>
        </div>
        <div class="col-3 col-md-4"></div>
      </div>
    </div>
  </div>
  <button mat-mini-fab color="default" class="btn-set" (click)="setBet()">
    <fa-icon [icon]="faArrowsRotate" style="font-size: 15px;"></fa-icon>
  </button>
  <button mat-mini-fab color="default" class="btn-clear" (click)="clearBet()">
    <fa-icon [icon]="faRotateBack" style="font-size: 15px;"></fa-icon>
  </button>
  <button mat-fab color="primary" (click)="openBottomSheet()" class="btn-buy">
    <fa-icon [icon]="faCoins" style="font-size: 20px;"></fa-icon>
  </button>
</div>