@use "sass:meta";
@use "../variables" as var;

@mixin syntax-colors($args...) {
  @each $name, $color in meta.keywords($args) {
    .bg-#{$name} {
      background-color: $color !important;
    }

    .text-#{$name} {
      color: $color !important;
    }
  }
}

@include syntax-colors(
  $primary: var.$primary,
  $accent: var.$accent,
  $success: var.$success,
  $warning: var.$warning,
  $error: var.$error,
  $white: var.$white,
  $light: var.$light,
  $gray-100: var.$gray-100,
  $light-error: var.$light-error,
  $light-accent: var.$light-accent,
  $light-success: var.$light-success,
  $light-warning: var.$light-warning,
  $light-primary: var.$light-primary
);

.fill-warning svg {
  fill: var.$warning;
  color: var.$warning;
}

.fill-light svg {
  fill: var.$light;
  color: var.$light;
}
